.portada{
    background: url(images/portada.png);
    /* background-color: black; */
    width: 100%;
    position: relative;
    top: 50px;
    z-index: -1;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/*Section About*/
.section-about{
    display: flex;
    align-items: center;
    padding: 100px 50px 50px 50px;
}
.section-about > img{
    width: 50%;
    position: relative;
    left: -100px;
    border-radius: 20px;
    z-index: -1;
}
.text-about > p{
    margin-top: 15px;
}
.p-download{
    font-weight: 700;
}
.container-buttons-download{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.buttons-download{
    background: none;
    display: flex;
    align-items: center;
    border: 1px solid #ffffff;
    background: #ffffff;
    padding: 5px;
    border-radius: 10px;
    transform: scale(1);
    transition: 0.3s all;
}
.download2{
    position: relative;
    left: 20px;
}
.buttons-download > img{
    width: 42px;
    margin-right: 10px;
}
.buttons-download > i{
    font-size: 40px;
    margin-right: 10px;
}
.buttons-download:hover{
    cursor: pointer;
    box-shadow: 5px 5px 0px #000000, -5px 5px 0px #000000;
    transform: scale(1.1);
    transition: 0.3s all;
}
.span-download{
    font-weight: 700;
    font-size: 20px;
}

/*Section Brawlers*/
.section-brawlers{
    display: flex;
    align-items: center;
    padding: 50px;
}
.section-brawlers > .img-brawlers{
    width: 50%;
    display: flex;
    justify-content: center;
}
.img-brawlers > .img-edgar{
    width: 30%;
    height: 20%;
    position: relative; 
    left: 120px;
}
.img-brawlers > .img-shelly{
    width: 25%;
    height: 20%;
    position: relative;
    left: -100px;
    bottom: 15px;
}
.img-brawlers > .img-spike{
    width: 50%;
    height: 20%;
    position: relative;
    z-index: 1;
}
.img-brawlers > img{
    transition: 03s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.img-brawlers > img:hover{
    transform: scale(1.05);
    transition: 03s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.section-brawlers > .text-brawlers{
    width: 50%;
}
.text-brawlers > p{
    margin-top: 15px;
}

/*Section Modos*/
.section-modos{
    display: flex;
    padding: 50px;
}
.section-modos > div{
    width: 50%;
}
.img-modos{
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-modos > img{
    width: 30%;
    height: 60%;
    transition: 03s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.img-modos > img:hover{
    transform: scale(1.05);
    transition: 03s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.img-supervivencia{
    z-index: 1;
}
.img-modos > .img-atraco{
    position: relative;
    left: -80px;
}
.img-modos > .img-balon{
    position: relative;
    left: 50px;
}
.text-modos > p{
    margin-top: 15px;
}

/*Section Competitivo*/
.section-competitivo{
    display: flex;
    padding: 50px;
}
.section-competitivo > div{
    width: 50%;
}
.text-competitivo > p{
    margin-top: 15px;
}
.img-competitivo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-competitivo > img{
    width: 50%;
    border-radius: 20px;
}