body{
    padding-left: 30px;
    padding-top: 60px;
    background-color: #101010;
    color: aliceblue;
}
h1{
    text-align: center;
}
li{
    list-style: none;
}
details{
    display: flex;
    align-items: center;
    justify-content: center;
}
summary{
    list-style: url("/images/cursor_b 1.png");

}
summary::marker{

}
.modosimg{
    width: 500px;
    height: 300px;
}



