main{
    padding-top: 100px;
}
.inicio{
    padding: 0 50px;
}
.modos-juego > .container{
    display: flex;
    align-items: center;
}
.modos-juego > .container > .img-modos, .despliegue-modos{
    max-width: 50%;
}
.modos-juego > .container > .img-modos{
    padding: 50px 25px 50px 50px;
}
.img-modos > img{
    max-width: 100%;
    border-radius: 20px;
}
.modos-juego > .container > .despliegue-modos{
    padding: 50px 50px 50px 25px;
}
.despliegue-modos > details{
    position: relative;
    left: 10px;
}
.despliegue-modos  > details > summary{
    font-weight: 700;
    font-size: 18px;
    list-style: none;
    display: inline-block;
    cursor: pointer;
}
.despliegue-modos  > details > summary > img{
    position: relative;
    top: 9px;
    right: 10px;
}
.despliegue-modos  > details > p{
    font-size: 18px;
    position: relative;
    top: 5px;
    left: 25px;
}