/*Variables*/
:root {
    --color-primario1: #febf21;
    --color-primario2: #ef1918;
    --font-titles: "Nunito";
    --nav-bg: #070504;
    --bg: #101010;
    --text-nav: #ff5e00;
}
/*Estilos Universales*/
* {
    font-family: "Asap";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: #ffffff;
    background: var(--bg);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
a {
    text-decoration: none;
}

p {
    line-height: 25px;
    font-size: 20px;
}

h1 {
    font-size: 50px;
    font-family: var(--font-titles);
}

h2 {
    font-size: 42px;
    font-family: var(--font-titles);
}

h3 {
    font-size: 36px;
    font-family: var(--font-titles);
}

h4 {
    font-size: 26px;
    font-family: var(--font-titles);
}

h5 {
    font-size: 20px;
    font-family: var(--font-titles);
}

/*navegación*/
.main-nav{
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
}
.toogle-main-menu{
    position: absolute;
    font-size: 30px;
    top: 20px;
    right: 20px;
    z-index: 1;
}
.logo-nav{
    width: 50px;
    position: absolute;
    top: 10px;
    left: 20px;
    z-index: 1;
}
.logo-nav:hover{
    animation: rotation 2s linear infinite;
}
@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
} 
.main-menu{
    padding: 0 20px 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--nav-bg);
    transform: translateY(-160%);
    transition: 0.4s all;
}
.main-menu-show{
    transform: translateY(0%);
    transition: 0.4s all;
}

.logo-nav-container{
    height: 70px;
    background-color: var(--nav-bg);
}
/*a o links de la navegación*/
.main-menu > div:first-child{
    padding-left: 0px;
}
.main-menu-a {
    margin: 0px 10px;
    cursor: pointer;
    color: var(--text-nav);
    font-weight: 600;
    padding: 5px 10px;
    text-decoration: none;
    font-size: 18px;
}
.main-menu-a {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}

.main-menu-a::before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: linear-gradient(90deg,
            var(--color-primario2),
            var(--color-primario1));
    height: 4px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.main-menu-a:hover::before,
.main-menu-a:focus::before,
.main-menu-a:active::before {
    right: 0;
} 
@media screen and (min-width: 650px) {
    .main-menu{
        flex-direction: row;
        transform: translateY(0%);
        padding: 20px;
    }
    .toogle-menu{
        display: none;
    }
    .main-menu > div:first-child{
        padding-left: 60px;
    }
    .logo-nav-container{
        height: 0px;
        background-color: var(--nav-bg);
    }
}

/*Footer*/

.footer {
    background-color: #131313;
    margin-top: auto;
    padding: 50px 50px;
    box-shadow: 0 -1px 25px #8a86863f;
}

.redes-sociales {
    margin-top: 20px;
}

.redes-sociales>a:not(:last-child) {
    margin-right: 20px;
}

.redes-sociales>a {
    color: rgb(0, 0, 0);
}

.redes-sociales {
    display: inline-flex;
    height: 120px;
    width: 100%;
    padding-top: 40px;
}

.redes-sociales .icon {
    position: relative;
    background: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 10px rgba(36, 36, 36, 0.397);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.redes-sociales .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: var(--nav-bg);
    color: #fff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(36, 36, 36, 0.397);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.redes-sociales .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: var(--nav-bg);
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.redes-sociales .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.redes-sociales .icon:hover span,
.redes-sociales .icon:hover .tooltip {
    text-shadow: 0 -1px 0 rgba(36, 36, 36, 0.397);
}

.redes-sociales .facebook:hover,
.redes-sociales .facebook:hover .tooltip,
.redes-sociales .facebook:hover .tooltip::before {
    background: #1877f2;
    color: #fff;
}

.redes-sociales .twitter:hover,
.redes-sociales .twitter:hover .tooltip,
.redes-sociales .twitter:hover .tooltip::before {
    background: #000000;
    color: #fff;
}

.redes-sociales .instagram:hover,
.redes-sociales .instagram:hover .tooltip,
.redes-sociales .instagram:hover .tooltip::before {
    background: linear-gradient(45deg, #fed472, #f86f2f, #d43089, #9e37b8, #5f4bc6);
    color: #fff;
}

.redes-sociales .youtube:hover,
.redes-sociales .youtube:hover .tooltip,
.redes-sociales .youtube:hover .tooltip::before {
    background: red;
    color: #fff;
}
/*Buttons*/
.buttons-section {
    background: none;
    color: var(--color-primario1);
    border: 1px solid var(--color-primario1);
    transition: 0.3s all;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 10px;
    position: relative;
}

.buttons-section>i {
    position: relative;
    color: var(--color-primario1);
    top: 3px;
    left: 3px;
    transition: 0.3s all;
}

.buttons-section:hover>i {
    transition: 0.3s all;
    position: relative;
    color: #000000;
    left: 10px;
}

.buttons-section:hover {
    background: var(--color-primario1);
    color: #000000;
    transition: 0.3s all;
}