:root{
    --color-primario1: #FEBF21;
    --color-primario2: #EF1918;
    --font-titles: 'Nunito';
}
*{
    font-family: 'Asap';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
p{
    line-height: 25px;
    font-size: 20px;
}
h1{
    font-size: 50px;
    font-family: var(--font-titles);
}
h2{
    font-size: 40px;
    font-family: var(--font-titles);
}
.nav{
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: #070504;
    padding: 10px;
    /* padding: 10px; */
    box-shadow: 10px 0 5px #070504;
    z-index: 999;
}
.nav-container{
    display: flex;
    align-items: center;
}
.nav-container-img img{
    width: 80px;
    padding: 0px 20px;
}
.nav-container-a{
    margin: 0px 10px;
}
.nav-container-a{
    cursor: pointer;
    color: #ff5e00;
    font-weight: 600;
    /* background: linear-gradient(0deg, #EF1918, #febf21); */
    padding: 5px 10px;
    text-decoration: none;
    font-size: 18px;
}
.nav-container-a {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}

.nav-container-a:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: linear-gradient(90deg, var(--color-primario2), var(--color-primario1));
    height: 4px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.nav-container-a:hover:before,
.nav-container-a:focus:before,
.nav-container-a:active:before {
    right: 0;
}
/*Footer*/

.footer{
    background-color: #ff5e00;
    position: relative;
    bottom: 0;
    left: 0;

}

/*Buttons*/
.buttons-section{
    margin-top: 30px;
    background: none;
    color: var(--color-primario1);
    border: 1px solid var(--color-primario1);
    transition: 0.3s all;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 10px;
    position: relative;
}
.buttons-section > i{
    position: relative;
    color: var(--color-primario1);
    top: 3px;
    left: 3px;
    transition: 0.3s all;
}
.buttons-section:hover > i{
    transition: 0.3s all;
    position: relative;
    color: #000000;
    left: 10px;
}
.buttons-section:hover{
    background: var(--color-primario1);
    color: #000000;
    transition: 0.3s all;

}

